<mat-toolbar class="mat-elevation-z8">

    <button mat-icon-button *ngIf="mode === 'over'">
        <mat-icon *ngIf="!opened"> menu </mat-icon>
        <mat-icon *ngIf="opened"> close </mat-icon>
    </button>

    <div style="display:flex; flex-direction: row;gap: 10px;">
        <img src="../../../../../assets/Logo.PNG"/>
        <h1 style="color: black;font-size: larger;">LoanBud</h1>
    </div>

    <div class="example-spacer">

    </div>

    <button mat-icon-button style="color: lightskyblue;" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>search</mat-icon>
    </button>

    <button mat-icon-button style="color: lightskyblue;" class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>book</mat-icon>
    </button>

    <button mat-icon-button style="color: lightskyblue;" class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>notifications</mat-icon>
    </button>

    <button mat-icon-button style="color: lightskyblue;" class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>person</mat-icon>
    </button>

    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>more_vert</mat-icon>
    </button> -->

</mat-toolbar>
