<app-header></app-header>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" mode="side" opened="true">

    <button mat-button style="color: white;" class="menu-button" routerLink="/dashboard/view">
        <!-- <mat-icon>dashboard</mat-icon> -->
        <span >Dashboard</span>
    </button>
    
    <button mat-button style="color: white;" class="menu-button" routerLink="">
        <!-- <mat-icon>forum</mat-icon> -->
        <span>Create Loan</span>
    </button>
    
    <ul class="pipeline-menu">
        <li *ngFor="let menuItem of menuItems">
                <button mat-button style="color: white;" (click)="toggleSubMenu(menuItem)" class="menu-button">
                    <div style="display: flex;align-items: center;gap: 200px;">
                        <h3 style="margin: 2px 10px 0 0px">Pipeline</h3>
                        <span>{{ menuItem.name }}</span>
                    </div>
                </button>
                
                <!-- <button >
                    
                </button> -->
            <!-- </div> -->
            <ul *ngIf="menuItem.subMenuVisible" class="pipeline-submenu">
                <h3>
                    <li *ngFor="let subMenuItem of menuItem.subMenuItems">
                        <a [routerLink]="subMenuItem.route" style="color: white; text-decoration: none;">{{ subMenuItem.name }}</a>
                      </li>
                </h3>
            </ul>
        </li>
        <!-- <button mat-button style="color: white;" class="menu-button"> -->
            <!-- <mat-icon>cloud</mat-icon> -->
            <!-- <span>Pipeline</span> -->
        <!-- </button> -->
    </ul>
    
    
    <button mat-button style="color: white;" class="menu-button" routerLink="">
        <!-- <mat-icon>diversity_2</mat-icon> -->
        <span>User / Contacts</span>
    </button>
    
    <button mat-button style="color: white;" class="menu-button" routerLink="">
        <!-- <mat-icon>calendar_month</mat-icon> -->
        <span>Calendar</span>
    </button>
    
    <button mat-button style="color: white;" class="menu-button" routerLink="">
        <!-- <mat-icon>trending_flat</mat-icon> -->
        <span>Reports</span>
    </button>
    
    <button mat-button style="color: white;" class="menu-button" routerLink="">
        <!-- <mat-icon>groups</mat-icon> -->
        <span>Calculators</span>
    </button>
    
    <button mat-button style="color: white;" class="menu-button" routerLink="">
        <!-- <mat-icon>edit_square</mat-icon> -->
        <span>Settings</span>
    </button>
    
    <button mat-button style="color: white;" class="menu-button" routerLink="">
        <!-- <mat-icon>file_copy</mat-icon> -->
        <span>Help Center</span>
    </button>
    
    <button mat-button style="color: white;" class="menu-button" routerLink="">
        <!-- <mat-icon>campaign</mat-icon> -->
        <span>Live Trainings</span>
    </button>
    
    <br />
    
    <button mat-button style="color: white;" class="menu-button" routerLink="">
        <!-- <mat-icon>palette</mat-icon> -->
        <span>Account Setup</span>
    </button>
        
  </mat-sidenav>

  <mat-sidenav-content class="content mat-elevation-z8">

        <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>